@model ErrorViewModel
@{
    ViewData["Title"] = "Home Page Dev";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    config maps & secrets:

    @foreach (var item in @Model.EnvVars)
    {
        <p>@item.Key: @item.Value</p> 
    }
</div>
